@font-face {
    font-family: sitefont;
    src: url(sitefont.ttf);
 }

body {
    margin: 0px;
}

#page {
    background-image: url(images/sitebg.png);
    color:white;
    display:flex;
    flex-direction: column;
    font-family:sitefont;
    font-size: 110%;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    width:95%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #00000060;
}

a {
    color:lightblue
}
a:hover {
    color:blue
}

#buttondiv {
    flex-direction: row;
    padding: 5px;
}

.button {
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    background-color: #2F2F2F;
    font-size: 125%;
    color: white
}